<app-title title="Sections"></app-title>

<app-card>
	<div class="flex">
		<button
			type="button"
			class="btn-primary mr-2"
			[disabled]="loading"
			(click)="fetchItems()"
		>
			{{ loading ? '' : 'Refresh' }}
			<i class="las la-spinner animate-spin" *ngIf="loading"></i>
		</button>
		<button
			type="button"
			class="btn-emerald"
			[disabled]="loading"
			routerLink="add"
		>
			Add
		</button>
	</div>
	<div class="mt-3">
		<table
			datatable
			[dtOptions]="datatableOptions"
			[dtTrigger]="datatableTrigger"
		>
			<thead>
				<tr>
					<th>#</th>
					<th>Curriculum</th>
					<th>Year Level</th>
					<th>Section</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of items">
					<td class="texte-center">{{ item.id }}</td>
					<td class="text-center">{{ item.name }}</td>
					<td class="text-center">{{ item.level }}</td>
					<td class="text-center">{{ item.section }}</td>
					<td class="flex">
						<a
							class="btn-yellow mx-1 p-0 h-8 w-8 flex items-center justify-center"
							[routerLink]="[item.id, 'edit']"
						>
							<i class="las la-edit"></i>
						</a>
						<button
							class="btn-rose mx-1 p-0 h-8 w-8"
							(click)="remove(item.id)"
						>
							<i class="las la-trash"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</app-card>
